{{#partial "content"}}
    <form action="/sighting" method="post">

        <div class="alert alert-danger" role="alert">
            Fill this if the animal you have sighted is a non-endangered animal.
        </div>

        <label>Select Animal</label>
        <select class="form-control" name="animalSelected">
            {{#each animals }}
                <option value="{{id}}"> {{name}} </option>
            {{/each}}
        </select>

        <div class="mb-3">
            <label for="name" class="form-label">Location</label>
            <select class="form-control" name="animalSelected">
                {{#each locations }}
                    <option value="{{id}}"> {{name}} </option>
                {{/each}}
            </select>
        </div>

        <div class="mb-3">
            <label for="rangerName" class="form-label">Ranger Name</label>
            <select class="form-control" name="animalSelected">
                {{#each rangers }}
                    <option value="{{id}}"> {{name}} </option>
                {{/each}}
            </select>
        </div>
        <button type="submit" class="btn btn-warning det">Submit Sighting</button>
    </form>

{{/partial}}

{{> layout.hbs}}

