{{#partial "content"}}
    <div class="container">
        <div class="card det">
            <div class="card-header">
                Sighting ID : {{sighting.id}}
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Sighted Location : {{ sighting.location_id }}
                </h5>
                <p class="card-text">Ranger Name : {{sighting.ranger_id}} </p>
                <p class="card-text">  Animal : {{sighting.animal_id}} </p>

            </div>
        </div>
        <div class="row">
            <div>
                <form method="post" action="/sightings/{{sighting.id}}/delete">

                    <button class="btn btn-outline-warning">Delete Animal</button>
                </form>

            </div>
            <div class="col order-first">
                <div>
                    <a class="btn btn-outline-warning" href="/animals/new">Report Animal Sighting</a>
                </div>
            </div>
        </div>





    </div>

{{/partial}}

{{> layout.hbs}}